html,
body {
    height: 100%;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}


/*Estilos del panel Administrador*/



@media (max-width: 768px) {
    nav {
        position: absolute;
        z-index: 1000;
        width: 250px;
        height: 100vh;
        
        
    }

    nav.show {
        transform: translateX(0);
    }

  
}

@media (min-width: 769px) {
    nav {
        position: absolute;
        transform: translateX(0);
    }

  
}



/*parte superior
.content {
    margin-top: 200px;
    background-color: blue; /* Cambia el color aquí 
    color: white;  Opcional: cambia el color del texto para que sea visible 
}
*/